---
import SideProject from "./side-project.astro";
import { pinnedSideProjects } from "../../utils/side-projects";

interface Props {
  count: number;
  className?: string;
}

const { count, className = "" } = Astro.props;

const sideProjects = count
  ? pinnedSideProjects.slice(0, count)
  : pinnedSideProjects;
---

<div
  class="grid w-full grid-rows-1 grid-cols-1 sm:grid-cols-2 gap-7 md:grid-cols-3"
  class:list={[className]}
>
  {
    sideProjects.map((project) => (
      <SideProject
        layout="card"
        slug={project.slug}
        hrefBase="side-projects"
        name={project.data.title}
        image={project.data.image}
        status={project.data.status}
        domains={project.data.domains}
        description={project.data.description}
      />
    ))
  }
</div>
