---
import { LinkButton, SectionHeader } from "../ui";
import ShowcaseProject from "./showcase-project.astro";
import { pinnedPortfolio } from "../../utils/portfolio";

interface Props {
  count: number;
}

const { count = 3 } = Astro.props;
const portfolio = pinnedPortfolio.slice(0, count);
---

<section id="portfolio" class="px-7 lg:px-0">
  <SectionHeader
    heading="Creative Architect"
    subheading="Here's a glimpse into some of my recent projects. Be sure to check back often, as I'm always adding new and exciting work to my portfolio!"
  />

  <div class="flex flex-col w-full py-10">
    {
      portfolio.map((project, index) => (
        <ShowcaseProject
          index={index}
          slug={project.id}
          hrefBase="portfolio"
          tags={project.data.tags}
          title={project.data.title}
          image={project.data.image}
          gradient={project.data.bgGradient}
          description={project.data.description}
        />
      ))
    }
  </div>

  <div class="flex items-center justify-center w-full py-0">
    <LinkButton text="View Full Portfolio" link="/portfolio" />
  </div>
</section>
