---
import { Picture } from "astro:assets";

interface Props {
  slug: string;
  title: string;
  index: number;
  image: string;
  tags: string[];
  hrefBase: string;
  gradient: string;
  description: string;
}

const { tags, slug, title, image, index, hrefBase, gradient, description } =
  Astro.props;

const isEven = index % 2 === 0;
const activeGradient = gradient;
---

<div
  class={`flex flex-col md:flex-row items-center gap-10 md:gap-20 mb-32 last:mb-0 ${isEven ? "" : "md:flex-row-reverse"}`}
>
  <a href={`${hrefBase}/${slug}`} class="relative group w-full md:w-1/2">
    <div
      class={`absolute -inset-1 bg-gradient-to-r ${activeGradient} rounded-[2rem] blur opacity-25 group-hover:opacity-50 transition duration-1000 group-hover:duration-200`}
    >
    </div>

    <div
      class={`relative p-2 rounded-[2rem] bg-gradient-to-r ${activeGradient} shadow-2xl overflow-hidden`}
    >
      <div
        class="rounded-[1.6rem] overflow-hidden bg-neutral-900 border border-white/5"
      >
        {
          image && (
            <Picture
              src={image}
              formats={["avif", "webp", "jpg"]}
              alt={title}
              width={800}
              height={450}
              class="w-full aspect-video object-cover transform group-hover:scale-[1.03] transition-transform duration-500 ease-out"
            />
          )
        }
      </div>
    </div>
  </a>

  <div class="w-full md:w-1/2 flex flex-col items-start px-2">
    <h3
      class="text-xl sm:text-2xl font-bold text-neutral-900 dark:text-white mb-6 leading-tight tracking-tight"
    >
      {title}
    </h3>

    <p
      class="text-neutral-600 dark:text-neutral-400 mb-8 leading-relaxed max-w-xl"
    >
      {description}
    </p>

    <div class="flex flex-wrap gap-3">
      {
        tags.map((tag) => (
          <span class="px-4 py-1.5 rounded-full border bg-neutral-100 bg-opacity-5 border-neutral-200 dark:border-neutral-800 text-xs md:text-sm text-neutral-600 dark:text-neutral-300 font-semibold hover:border-neutral-400 dark:hover:border-neutral-600 hover:bg-neutral-50 dark:hover:bg-neutral-800 transition-all cursor-default">
            {tag}
          </span>
        ))
      }
    </div>
  </div>
</div>
