---
import { latestPosts } from "../../utils/posts";
import HoverPencilBackground from "../ui/hover-pencil-background.astro";

interface Props {
  count?: number;
}

const duration = 1000;
const { count = 3 } = Astro.props;
const listPosts = latestPosts.slice(0, count);

const formateDate = (date: string) => {
  const p = date.split(" ");
  return `${p[1]} ${p[0]}, ${p[2]}`;
};

const borderStyle =
  "border border-1 border-solid border-neutral-200 dark:border-neutral-800";
---

<div class="flex flex-wrap justify-center gap-12 md:gap-x-24 w-full">
  {
    listPosts.map(({ slug, data }, index) => (
      <a
        href={`/blog/${slug}`}
        class={`group relative z-0 block no-underline w-full md:w-[calc(45%-1rem)] lg:w-[calc(42%-2rem)] ${index === 2 ? "md:mt-4" : ""} p-6 -mx-6 sm:-mx-6 rounded-2xl hover:shadow-2xl transition-all duration-300 hover:-translate-y-1 ${borderStyle}`}
      >
        <HoverPencilBackground strokeWidth={5} animationDuration={duration} />

        <div class="flex justify-between items-center mb-6 text-xsm font-bold tracking-most-widest uppercase">
          <span class="text-neutral-500 dark:text-neutral-500">
            {formateDate(data.publishDate)}
          </span>

          <span class="text-neutral-500 dark:text-neutral-500">
            {data.category}
          </span>
        </div>

        <h3 class="text-xl sm:text-2xl font-bold text-neutral-900 dark:text-white mb-4 leading-tight group-hover:text-neutral-700 dark:group-hover:text-neutral-300 transition-colors duration-300">
          {data.title}
        </h3>

        <p class="text-sm text-neutral-600 dark:text-neutral-400 leading-relaxed line-clamp-3">
          {data.excerpt}
        </p>
      </a>
    ))
  }
</div>
