---
import Layout from "../layouts/main.astro";
import education from "../data/education.json";
import Button from "../components/button.astro";
import experiences from "../data/experiences.json";
import certificates from "../data/certificates.json";
import LinkButton from "../components/link-button.astro";
import PageHeading from "../components/page-heading.astro";
import AboutEducation from "../components/about-education.astro";
import AboutExperience from "../components/about-experience.astro";
import AboutCertificate from "../components/about-certificate.astro";
---

<Layout title="About Me">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="About Me"
      description="Hello 👋 I'm Muhammad Tayyab Asghar, a Frontend Heavy Fullstack Engineer from Pakistan with expertise in React.js, Next.js, NodeJS, MongoDB and Firestore. I thrive on tackling challenges and delivering high-performance, scalable web applications and SaaS platforms. With a passion for lean product development and a drive to continuously learn and grow, I'm always excited to work on innovative projects that make a real impact."
    />

    <img
      src="/assets/images/about.avif"
      class="relative z-30 w-full my-10 rounded-xl"
    />

    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      Experience
    </h2>
    <div class="px-5 pt-10">
      {
        experiences.map((experience, loop) => {
          return (
            <div class="pb-10 border-l last:border-none border-gray-200 dark:border-neutral-700">
              <AboutExperience
                dates={experience.dates}
                role={experience.role}
                company={experience.company}
                description={experience.description}
                logo={experience.logo}
                hideLogo={experiences[loop - 1]?.company === experience.company}
              />
            </div>
          );
        })
      }
    </div>

    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      Education
    </h2>
    <div class="px-5 pt-10">
      {
        education.map((edu) => {
          return (
            <div class="pb-10 border-l last:border-none border-gray-200 dark:border-neutral-700">
              <AboutEducation
                logo={edu.logo}
                dates={edu.dates}
                degree={edu.degree}
                website={edu.website}
                location={edu.location}
                institute={edu.institute}
                coursework={edu.coursework}
              />
            </div>
          );
        })
      }
    </div>

    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      Certificates
    </h2>
    <div class="flex flex-col items-center">
      <div
        id="certificates"
        class="px-5 pt-10 h-[600px] overflow-y-clip overflow-x-visible"
      >
        {
          certificates.map((cert) => {
            return (
              <div class="pb-10 border-l last:border-none border-gray-200 dark:border-neutral-700">
                <AboutCertificate
                  name={cert.name}
                  logo={cert.logo}
                  media={cert.media}
                  issueDate={cert.issueDate}
                  organization={cert.organization}
                  credentialID={cert.credentialID}
                  credentialURL={cert.credentialURL}
                  expirationDate={cert.expirationDate}
                />
              </div>
            );
          })
        }
      </div>
      <Button
        id="certificatesButton"
        onclick="showAllCertificates()"
        text="Show all Certificates"
      />
    </div>

    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      Let's Connect
    </h2>
    <p
      class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
      If you want to stay up to date with my work be sure to follow me on
      <a
        href="https://www.linkedin.com/in/tayyabasghar"
        target="_blank"
        class="text-indigo-600 underline"
      >
        LinkedIn
      </a> and
      <a
        href="https://github.com/TayyabAsghar"
        target="_blank"
        class="text-indigo-600 underline"
      >
        GitHub
      </a>, or want to discuss a project? You can just click the connect button.

      <LinkButton
        text="Connect"
        link="mailto:muhammadtayyabasghar@gmail.com"
        target="_blank"
      />
    </p>
  </section>
</Layout>
