---
interface Props {
  logo: string;
  dates: string;
  role: string;
  company: string;
  website: string;
  detailsPage: string;
  description: string[];
}

const { logo, dates, role, company, description, website, detailsPage } =
  Astro.props;
---

<div id="experience" class="relative flex flex-col justify-start pl-12">
  <div
    class="absolute top-0 left-0 z-40 flex items-center justify-center -translate-x-1/2 bg-white border rounded-full dark:bg-neutral-950 w-14 h-14 border-neutral-300 dark:border-neutral-700"
  >
    <a href={website} target="_blank">
      <img
        src={logo}
        alt={company}
        class="transition-all duration-700 ease-out hover:scale-110 w-8 h-8"
      />
    </a>
  </div>

  <p
    class="text-xs uppercase text-neutral-400 dark:text-neutral-500 tracking-widest"
  >
    {dates}
  </p>
  <div class="space-y-0 mb-3">
    <h3 class="text-lg font-bold dark:text-neutral-100">{role}</h3>
    <p class="text-base font-medium dark:text-neutral-300">{company}</p>
  </div>
  <div class="flex flex-col gap-1">
    {
      description.map(
        (des) =>
          des && (
            <div class="mb-1 text-neutral-600 dark:text-neutral-400">
              • {des}
            </div>
          )
      )
    }
  </div>
  {
    !!detailsPage && (
      <div>
        <a class="text-blue-500" href={detailsPage}>
          more
        </a>
        ...
      </div>
    )
  }
</div>

<style is:global>
  #experience strong {
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
  }
</style>
