---
import Project from "../components/project.astro";
import { pinnedPortfolio } from "../utils/portfolio";

interface Props {
  count: number;
  className?: string;
}

const { count, className = "" } = Astro.props;

const portfolio = count ? pinnedPortfolio.slice(0, count) : pinnedPortfolio;
---

<div
  class="grid w-full min-h-44 grid-cols-1 gap-16 auto-rows-fr sm:grid-cols-2 md:grid-cols-3 md:gap-10"
  class:list={[className]}
>
  {
    portfolio.map((project) => (
      <div class="relative after:absolute after:left-1/2 after:-bottom-7 after:h-px after:w-[80%] after:-translate-x-1/2 after:bg-neutral-300 after:dark:bg-neutral-600 last:after:hidden sm:after:hidden">
        <Project
          layout="card"
          slug={project.slug}
          hrefBase="portfolio"
          name={project.data.title}
          image={project.data.image}
          company={project.data.company}
          gradient={project.data.bgGradient}
          description={project.data.description}
        />
      </div>
    ))
  }
</div>
