---
import Project from "../components/project.astro";
import { latestPortfolio } from "../utils/portfolio";
import Separator from "../components/separator.astro";

interface Props {
  link?: string;
  count?: number;
  className?: string;
  company?: string;
  brandLogo?: string;
}

const { count, company, link, brandLogo, className = "" } = Astro.props;

let portfolio;
portfolio = company
  ? latestPortfolio.filter((project) => project.data.company === company)
  : latestPortfolio;

portfolio = count ? portfolio.slice(0, count) : portfolio;

const collection = portfolio;
---

{
  company ? (
    <Separator link={link} text={company} brandLogo={brandLogo} />
  ) : null
}

<div class="divide-y divider" class:list={[className, !company ? "mt-20" : ""]}>
  {
    collection.map((project) => {
      return (
        <div class="py-4 first:pt-0">
          <Project
            name={project.data.title}
            gradient={project.data.bgGradient}
            description={project.data.description}
            image={project.data.image}
            company={project.data.company}
            slug={project.slug}
            hrefBase="portfolio"
            layout="list"
          />
        </div>
      );
    })
  }
</div>
