---
export type Skill = {
  name: string;
  title: string;
  website: string;
};

interface Props {
  list: Skill[];
  heading?: string;
  className?: string;
}

const { list, className, heading } = Astro.props;
---

<h2 id="heading-tech-stack" class=`flex gap-4 items-center ${className}`>
  {heading}
</h2>
<div id="tech-stack" class="flex flex-wrap items-start justify-start gap-8">
  {
    list?.map((skill) => (
      <a
        target="_blank"
        title={skill.title}
        href={skill.website}
        class="shrink-0 flex flex-col items-center gap-1 relative duration-75 transition hover:translate-y-2"
      >
        <img
          class="!m-0 !rounded-sm size-16 object-cover"
          src={`/assets/images/stack/${skill.name}.svg`}
          alt={skill.title}
        />
        <div class="w-min text-center text-xs capitalize text-slate-600 dark:text-slate-400">
          {skill.title}
        </div>
      </a>
    ))
  }
</div>
