---
import { Icon } from "astro-icon/components";

interface Props {
  link: string;
  text: string;
  class?: string;
  iconLeft?: string;
  iconRight?: string;
  target?: "_self" | "_blank" | "_parent" | "_top";
}

const {
  link,
  text,
  iconLeft,
  iconRight,
  class: className,
  target = "_self",
} = Astro.props;
---

<a
  href={link}
  class="w-max mt-5 btn-rounded no-underline"
  class:list={[className]}
  target={target}
>
  {!!iconLeft && <Icon class="text-base" name={iconLeft} />}

  {text}

  {!!iconRight && <Icon class="text-base" name={iconRight} />}
</a>
